.loadingSpinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loadingSpinner div {
  transform-origin: 40px 40px;
  animation: spin 0.8s linear infinite;
}

.loadingSpinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 43px;
  left: 39px;
  width: 2px;
  height: 6px;
  border-radius: 20%;
  background: #8e8e8e;
}

.loadingSpinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.7s;
}

.loadingSpinner div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -0.6s;
}

.loadingSpinner div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.5s;
}

.loadingSpinner div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.4s;
}

.loadingSpinner div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.3s;
}

.loadingSpinner div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.2s;
}

.loadingSpinner div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.1s;
}

.loadingSpinner div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 0s;
}

@keyframes spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
