.userHeader {
  display: flex;
  justify-content: space-around;
  width: 900px;
  height: 360px;
  max-width: 65%;
  /* max-height: fit-content(50%); */
  padding: 20px;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 4px;
}

.profilePicture {
  width: 144px;
  height: 144px;
  border-radius: 50%;
}

.userDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}

.detailsHeader {
  display: flex;
  gap: 28px;
}

.username {
  font-size: 28px;
  font-weight: 300;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 8px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px;
  border-radius: 4px;
  width: 50%;
}

.username span {
  color: #3897f0;
}

.messageButton {
  /* background-color: #ffffff; */
  /* border: 1px solid #dbdbdb; */
  /* border-radius: 4px; */
  /* height: 28px; */
  /* padding: 0 14px; */
  /* font-weight: 500; */
  /* font-size: 14px; */
  /* cursor: pointer; */
  margin-left: -16px;
}

.detailsStats {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 16px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px;
  border-radius: 4px;
  width: 50%;
}

.detailsStats span {
  font-weight: 500;
}

.followModal {
  cursor: pointer;
}

.fullName {
  font-size: 16px;
  font-weight: 500;
}

.bio {
  font-size: 16px;
  font-weight: 400;
}

.privateMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  margin-top: 20px;
  width: 65%;
  max-width: 936px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  border-top: 1px solid #dbdbdb;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14px;
  padding: 40px;
}

.userNavBar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 65%;
  max-width: 936px;
  border-top: 1px solid #dbdbdb;
}

.userNavItem {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 20px;
  width: 68px;
  border-top: 1px solid #262626;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* .postsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    width: 65%;
    max-width: 936px;
  } */

.postsContainer {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.postsContainer > p {
  width: 100%;
  text-align: center;
}

/* .postContainer {
    position: relative;
    height: 292px;
    width: 292px;
  } */

.postContainer {
  position: relative;
  height: 292px;
  width: 292px;
}

.previewMedia {
  position: absolute;
  width: 292px;
  height: 292px;
  object-fit: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.multiImage {
  position: absolute;
  text-align: right;
  width: 100%;
  padding: 8px;
  z-index: 1;
}

.postDetails {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  width: 292px;
  height: 292px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.detailsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.postDetails:hover {
  z-index: 2;
}

.previewMedia:hover {
  z-index: -1;
}

@media screen and (max-width: 1264px) {
  .postsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .postsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
